@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Ubuntu:wght@400;700&display=swap');

body{
  font-family: 'Lora', sans-serif;
}

header{
  text-align: center;
}

nav ul{
  /* border: 1px solid magenta; */
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}
nav li{
  /* border: 2px dotted orange; */
  margin: 0 1em;
}
nav a{
  /* border: 3px solid green; */
}

/* .title h1{
  font-family: "Lora", "Poppins", sans-serif;
} */

/* h1{
  font-family: "Lora", "Poppins", sans-serif;
  font-weight: 400;
  font-size: 3.375rem;
} */

.sub-title{
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 1rem;
}